<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="assets/style.css")
    title Instagram - Leandro Viana
  body
    .main-container
      header.profile-header
        .pic
          img(src="assets/images/bjblacklogo.jpg" alt="" srcset="")
        .profile-details
          .row
            h1.profile-name barrett_jackson
            .buttons
              button.follow Seguindo
              button.down
                i.fas.fa-caret-down
              button.opt
                i.fas.fa-ellipsis-h
          .profile-data
            p
              strong 6.968
              | pulicações
            p
              strong 403mil
              | seguidores
            p
              strong 101
              | seguindo
          .profile-resume
            p.name
              strong Barrett-Jackson
            p The World's Greatest Collector Car Auctions
              br
              |2020 Scottsdale Auction | January 11-19, 2020
          .profile-links
            p ...
            a(href="https://barrett-jackson.com") www.barrett-jackson.com

      nav.tabs
        a.active
          i.fas.fa-border-all
          | Publicações
        a
          i.far.fa-id-badge
          | Marcado
    section.posts
      .post
        figure.post-image
          img(src="assets/images/post1.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post2.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post3.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post4.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post5.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post6.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post7.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post8.jpg", alt="", srcset="")
      .post
        figure.post-image
          img(src="assets/images/post9.jpg", alt="", srcset="")

    .modal
      

      script(src="assets/awesome.js")
      script(src="main.js")