@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700|Roboto:300,400,500,700&display=swap')

body
    font-family: 'Muli', sans-serif
    font-weight: 300
    background-color: #fafafa
    color: #131313

.main-container
    padding: 5em 12em
.profile-header
    display: grid
    grid-template-rows: 1fr 0.25fr 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr 1fr
    img
        border-radius: 50%
        max-width: 150px
        max-height: 150px
        grid-row-start: 0
        grid-row-end: 2
        grid-column-start: 0
        grid-column-end: 0
    .profile-actions
        grid-column-start: 2
        grid-column-end: 5
        grid-row-start: 0
        grid-row-end: 0
        display: flex
        justify-content: space-evenly
        align-items: center
        h1.profile-name        
            font-weight: 300
        button
            margin-right: 10px
            padding: 2px 18px
            background: 0 0
            color: #5f5f5f
            border-radius: 3px
            border: 2px solid #dbdbdb
            font-size: 14px
            font-weight: 600
            text-overflow: ellipsis
            outline: 0
            overflow: hidden
            user-select: none
            white-space: nowrap
        .down
            padding: 0 5px
        .opt
            padding: 0 5px
